@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;500&display=swap');

*{
  margin: 0;
  padding: 0;
  /*list-style: none;*/
  font-family: 'Lato', sans-serif;
  /*text-decoration: none;*/
  box-sizing: border-box;
  color: #004422;
  font-size: 12px;
}

[class*='col-']{ 
  /*border: 1px solid black;*/
  text-align: left;
}

.fila{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  text-align: left;
}

.importante{
  display: inline-block;
  border-radius: 50%;
  background-color: #004422;
  width: 14px;
  height: 14px;
  line-height: 14px;
  color: white;
  text-align: center;
  margin: 0 10px;
}

h1, h2{
  font-size: 16px;
  color: #3CC666;
  margin: 25px 0 30px 0;
}

h2{
  text-align: center;
}

/*======================================
NIVEL================================*/
.nivel{
  background-color: #CFF8DC;
  padding: 19px 0; 
  height: 241px;
}

.nivel-contenedor{
  width: 718px;
  background-color: white;
  border-radius: 8px;
}

.nivel-contenedor-izquierda{
  padding: 12px 16px 20px 16px;
  margin-top: -25px;
}

.nivel-contenedor-titulo{
  width: 328px;
  height: 36px;
  background-color: #00bb89;
  margin-left: -16px;
  margin-top: -12px;
  border-radius: 8px 0 0 0;
  padding-left: 14px;
}

.nivel-contenedor-titulo h1{
  color: #004422;
  font-size: 16px;
  font-weight: 700;
  line-height: 36px;
}

.nivel-contenedor-titulo img{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  margin-top: -50px;
  margin-left: 250px;
}

.izquierda-parrafo{
  height: 146px;
  padding: 14px 14px 0 0;
}

.izquierda-parrafo a{
  display: inline-block;
  margin-bottom: 22px;
}

.izquierda-parrafo span{
  font-size: 16px;
  padding: 0 2px 0 14px;
  font-weight: 700;
}

.izquierda-parrafo ul{
  padding: 12px 26px;
  background-color: #AEE1BE;
  border-radius: 8px;
}

.nivel-contenedor-derecha{
  padding: 14px 28px 16px 19px;
}

.derecha-parrafo{
  display: inline-block;
  margin-bottom: 8px;
}

.contenedor-progreso{
  border-radius: 16px;
  height: 16px;
  border: 1px solid #04822A;
  margin-bottom: 4px;
}

.progreso{
  justify-content: start;
}

.progreso::before{
  content: "";
  height: 14px;
  width: 19px;
  border-radius: 14px;
  background-color: #3CC666; 
}

.nivel-contenedor-rango{
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.nivel-contenedor-rango p{
  font-weight: 700;  
}

.rango-limite{
  color: #3CC666;
  font-size: 18px;
}

.nivel-calificable a{
  text-align-last: center;
  margin-bottom: 34px;
  font-weight: 500;
  font-size: 14px;
}

.nivel-activo img{
  width: 100%;
}

/*======================================
FUNCION================================*/

.funcion-pasos{
  width: 912px;
  display: flex;
  justify-content: space-between;
  padding: 5px 0 30px 0;
  margin: 0 20px;
}

.pasos{
  width: 32%;
}

.pasos-contenido{
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.433);
  border-left: none;
  padding: 12px 14px;
}

.pasos .col-sm-3{
  background-color: #004422;
}

.pasos .col-sm-3 p{
  font-size: 28px;
  color: white;
  text-align: center;
}

.pasos-contenido p{
  width: 100%;
  text-align: left;
}

/*======================================
DIFERENCIA============================*/
.diferencia {
  justify-content: center;
}

.diferencia-titulo{
  width: 358px;
  margin: 28px auto;
}

.diferencia-tipos{
  width: 718px;
  justify-content: space-between;
}

.tipos{
  display: inline-block;
  text-align: left;
  background-color: #00CA50;
  padding: 12px;
  border-radius: 2px;
  color: white;
  margin-bottom: 16px;
}

.tipo-libra p{
  font-size: 14px;
  text-align: left;
}

.diferencia .animos{
  margin: 40px 0;
}

.animos-parrafo{
  width: 262px;
  text-align: center;
}

/*======================================
CUMULO================================*/
.cumulo-contenedor{
  width: 718px;
}
.cumulo h2{
  margin-bottom: 0;
}

.cumulo-parrafo{
  text-align: left;
  margin: 34px 0;
  font-size: 14px;
}

.cumulo-ambos{
  justify-content: space-between;
}

.cumulo-contenedor-lado{
  width: 334px;
}

.cumulo-opciones{
  height: 28px;
  align-items: center;
  margin-bottom: 10px;
}

.cumulo-opciones .cumulo-detalle{
  text-align: left;
  font-weight: 700;
}

.cumulo-opciones .cumulo-precio{
  padding: 6px 10px;
  background-color: #f5f437;
  border-radius: 12px;
  height: 28px;
  font-weight: 700;
  text-align: center;
}

.hr-especial{
  height: 2px;
  background-color: #3CC666;
  border-radius: 2px;
  margin: 16px 0;
}

/*==================================FILAS Y COLUMNAS
====================================================*/
@media(min-width:768px){
.col-sm-12{width: 100%;}
.col-sm-11{width: 91.66666666%;}
.col-sm-10{width: 83.33333333%;}
.col-sm-9{width: 75%;}
.col-sm-8{width: 66.66666666%;}
.col-sm-7{width: 58.33333333%;}
.col-sm-6{width: 50%;}
.col-sm-5{width: 41.66666666%;}
.col-sm-4{width: 33.33333333%;}
.col-sm-3{width: 25%;}
.col-sm-2{width: 16.66666666%;}
.col-sm-1{width: 8.33333333%;}
}

@media(max-width:768px){
.col-xs-12{width: 100%;}
.col-xs-11{width: 91.66666666%;}
.col-xs-10{width: 83.33333333%;}
.col-xs-9{width: 75%;}
.col-xs-8{width: 66.66666666%;}
.col-xs-7{width: 58.33333333%;}
.col-xs-6{width: 50%;}
.col-xs-5{width: 41.66666666%;}
.col-xs-4{width: 33.33333333%;}
.col-xs-3{width: 25%;}
.col-xs-2{width: 16.66666666%;}
.col-xs-1{width: 8.33333333%;}

/*=========================================
============================Seccion nivel*/
.nivel{
  position: relative;
  height: 390px;
  padding: 14px 14px auto 14px;
}

.nivel-contenedor{
  width: 328px;
  height: 250px;
  padding: 0;
}

.nivel-contenedor-titulo{
  margin-left: -16px;
  border-radius: 8px 8px 0 0;
}

.izquierda-parrafo{
  height: auto;
  padding: 12px 0;
}

.izquierda-parrafo a{
  margin-bottom: 13px;
}

.izquierda-parrafo ul{
  position: absolute;
  top: 282px;
  width: 328px;
  padding: 12px 26px;
  margin-left: -16px;
}

.nivel-contenedor-derecha{
  margin-top: -38px;
}

.nivel-calificable{
  text-align-last: center;
  margin-bottom: 25px;
}

/*=========================================
============================Seccion funcion*/
.funcion h2{
  margin: 20px 0;
}

.funcion-pasos{
  flex-direction: column;
  width: 288px;
}

.pasos{
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}

.pasos-contenido{
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.433);
  padding: 8px;
}

.pasos .col-xs-3{
  background-color: #004422;
}

.pasos .col-xs-3 p{
  font-size: 28px;
  color: white;
  text-align: center;
}

/*=========================================
============================Seccion funcion*/
.diferencia-titulo{
  margin: 0 auto 28px auto;
}

.diferencia-tipos{
  width: 328px;
  font-display: column;
}

.tipos{
  padding: 7px;
  margin-bottom: 10px;
}

.tipo-libra p{
  margin-bottom: 20px;
}

.diferencia .animos{
  margin: 15px 0;
}

/*======================================
========================seccion cumulo*/
.cumulo-contenedor{
  width: 328px;
}

.cumulo-parrafo{
  margin: 18px 0;
}

.cumulo-opciones .cumulo-detalle{
  font-size: 11px;
}

.cumulo-opciones .cumulo-precio{
  padding: 8px ;
  font-size: 11px;
}

.hr-especial{
  margin: 14px 0;
  height: 2px;
}

}